.landing-page {
	background-image: url('../../assets/mando-super.jpg');
	background-color: #ccc;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.title-text {
	font-size: 50px;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.animated-shadow {
	color: #ffffff;
	font: normal 100px Varela Round, sans-serif;
	height: 140px;
	left: 0;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	animation: move linear 2000ms infinite;
	z-index: 2;
}
/*Animación para rotar las sombras*/
@keyframes move {
	0% {
		text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
			1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc, -2px 2px 0 #13f1fc,
			-1px 1px 0 #13f1fc;
	}
	25% {
		text-shadow: -4px -4px 0 #13f1fc, -3px -3px 0 #13f1fc, -2px -2px 0 #13f1fc,
			-1px -1px 0 #13f1fc, 4px 4px 0 #da0641, 3px 3px 0 #da0641, 2px 2px 0 #da0641,
			1px 1px 0 #da0641;
	}
	50% {
		text-shadow: -4px 4px 0 #da0641, -3px 3px 0 #da0641, -2px 2px 0 #da0641,
			-1px 1px 0 #da0641, 4px -4px 0 #13f1fc, 3px -3px 0 #13f1fc, 2px -2px 0 #13f1fc,
			1px -1px 0 #13f1fc;
	}
	75% {
		text-shadow: 4px 4px 0 #13f1fc, 3px 3px 0 #13f1fc, 2px 2px 0 #13f1fc,
			1px 1px 0 #13f1fc, -4px -4px 0 #da0641, -3px -3px 0 #da0641, -2px -2px 0 #da0641,
			-1px -1px 0 #da0641;
	}
	100% {
		text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641,
			1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc, -2px 2px 0 #13f1fc,
			-1px 1px 0 #13f1fc;
	}
}
